# Flash Kernel initialization script
# Pieces taken from @anarkia1976, @franciscofranco, @frap129, and @flar2

# Import Spectrum profiles
import /init.profiles.rc

on property:sys.boot_completed=1
    # according to Qcom this legacy value improves first launch latencies
    # stock value is 512k
    # from franciscofranco
    setprop dalvik.vm.heapminfree 2m

    # Make sure governor sys paths have the correct permissions
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor

    # Make sure all the cpufreq sys paths have the correct permissions
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
    chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
    chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq

    # Disable core control, enable msm_thermal
    write /sys/module/msm_thermal/core_control/enabled 0
    write /sys/module/msm_thermal/parameters/enabled 1

    # Enable Fingerprint boost
    write /sys/kernel/fp_boost/enabled 1

    # I/O scheduler - maple - 512kb
    write /sys/block/mmcblk0/queue/scheduler maple
    write /sys/block/mmcblk0/queue/read_ahead_kb 512

    # Don't treat storage as rotational
    write /sys/block/mmcblk0/queue/rotational 0

    # Special power script - executes three times under different SELinux contexts
    exec u:r:init:s0 root root -- /init.special_power.sh
    exec u:r:su:s0 root root -- /init.special_power.sh
    exec u:r:supersu:s0 root root -- /init.special_power.sh
