# Flash Kernel initialization script
# Pieces taken from @anarkia1976, @franciscofranco, @frap129, and @flar2

on boot
   # Wake gestures
   chown root root /sys/android_touch/wake_gestures
   chmod 666 /sys/android_touch/wake_gestures
   write /sys/android_touch/wake_gestures 0
   chmod 644 /sys/android_touch/wake_gestures

   # Disable double tap to wake
   chown root root /sys/android_touch/doubletap2wake
   chmod 666 /sys/android_touch/doubletap2wake
   write /sys/android_touch/doubletap2wake 0
   chmod 644 /sys/android_touch/doubletap2wake

   # Disable sweep to sleep
   chown root root /sys/android_touch/sweep2sleep
   chmod 666 /sys/android_touch/sweep2sleep
   write /sys/android_touch/sweep2sleep 0
   chmod 644 /sys/android_touch/sweep2sleep

   # Enable sweep to wake in up and down
   chown root root /sys/android_touch/sweep2wake
   chmod 666 /sys/android_touch/sweep2wake
   write /sys/android_touch/sweep2wake 12
   chmod 644 /sys/android_touch/sweep2wake

   # Enable camera gesture
   chown root root /sys/android_touch/camera_gesture
   chmod 666 /sys/android_touch/camera_gesture
   write /sys/android_touch/camera_gesture 1
   chmod 644 /sys/android_touch/camera_gesture

   # Set vibration strength to 27 (50% in EXKM)
   chown root root /sys/android_touch/vib_strength
   chmod 666 /sys/android_touch/vib_strength
   write /sys/android_touch/vib_strength 27
   chmod 644 /sys/android_touch/vib_strength

on post-fs
   write /dev/cpuset/foreground/cpus 0-7
   write /dev/cpuset/foreground/boost/cpus 0-7
   write /dev/cpuset/background/cpus 0-7
   write /dev/cpuset/system-background/cpus 0-7

on property:sys.boot_completed=1
   # allows FKUpdater to know this feature is supported
   setprop fku.profiles 1

   # according to Qcom this legacy value improves first launch latencies
   # stock value is 512k
   # from franciscofranco
   setprop dalvik.vm.heapminfree 2m

   # cpuset
   write /dev/cpuset/foreground/cpus 0-2,4-7
   write /dev/cpuset/foreground/boost/cpus 4-7
   write /dev/cpuset/background/cpus 0-2
   write /dev/cpuset/system-background/cpus 0-2

   # I/O scheduler - maple - 512kb
   write /sys/block/mmcblk0/queue/scheduler maple
   write /sys/block/mmcblk0/queue/read_ahead_kb 512
   write /sys/block/mmcblk0/queue/iosched/writes_starved 4
   write /sys/block/mmcblk0/queue/iosched/fifo_batch 16
   write /sys/block/mmcblk0/queue/iosched/sync_read_expire 350
   write /sys/block/mmcblk0/queue/iosched/sync_write_expire 550
   write /sys/block/mmcblk0/queue/iosched/async_read_expire 250
   write /sys/block/mmcblk0/queue/iosched/async_write_expire 450
   write /sys/block/mmcblk0/queue/iosched/sleep_latency_multiple 10
   
   # Little cluster governor - flash
   chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
   chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor flash
   # Little cluster min - 384 MHz
   chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
   chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 384000
   chmod 0444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
   # Little cluster max - 1555 MHz
   chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
   chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1555200
   chmod 0444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
   # Big cluster governor - flash
   chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor
   chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor
   write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor flash
   # Big cluster min - 633 MHz
   chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
   chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 633600
   chmod 0444 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
   # Big cluster max - 1958 MHz
   chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
   chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
   write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 1958400
   chmod 0444 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq

   # Governor settings: Franco Kernel's default
   # Little cluster settings
   write /sys/devices/system/cpu/cpu0/cpufreq/flash/above_hispeed_delay 0
   write /sys/devices/system/cpu/cpu0/cpufreq/flash/go_hispeed_load 100
   write /sys/devices/system/cpu/cpu0/cpufreq/flash/hispeed_freq 0
   write /sys/devices/system/cpu/cpu0/cpufreq/flash/target_loads "35 460800:40 600000:45 672000:50 768000:55 864000:60 960000:70 1248000:85 1478400:95"
   write /sys/devices/system/cpu/cpu0/cpufreq/flash/timer_rate 30000
   write /sys/devices/system/cpu/cpu0/cpufreq/flash/min_sample_time 60000
   write /sys/devices/system/cpu/cpu0/cpufreq/flash/ignore_hispeed_on_notif 1
   write /sys/devices/system/cpu/cpu0/cpufreq/flash/max_freq_hysteresis 80000
   write /sys/devices/system/cpu/cpu0/cpufreq/flash/boost 0
   write /sys/devices/system/cpu/cpu0/cpufreq/flash/boostpulse_duration 0

   # Big cluster settings
   write /sys/devices/system/cpu/cpu4/cpufreq/flash/above_hispeed_delay "40000 1248000:60000 1728000:20000"
   write /sys/devices/system/cpu/cpu4/cpufreq/flash/go_hispeed_load 85
   write /sys/devices/system/cpu/cpu4/cpufreq/flash/hispeed_freq 768000
   write /sys/devices/system/cpu/cpu4/cpufreq/flash/target_loads "85 1248000:90 1536000:95"
   write /sys/devices/system/cpu/cpu4/cpufreq/flash/timer_rate 30000
   write /sys/devices/system/cpu/cpu4/cpufreq/flash/min_sample_time 30000
   write /sys/devices/system/cpu/cpu4/cpufreq/flash/ignore_hispeed_on_notif 1
   write /sys/devices/system/cpu/cpu4/cpufreq/flash/max_freq_hysteresis 80000
   write /sys/devices/system/cpu/cpu4/cpufreq/flash/boost 0
   write /sys/devices/system/cpu/cpu4/cpufreq/flash/boostpulse_duration 0

   # Input boost settings
   write /sys/module/cpu_boost/parameters/input_boost_enabled 1
   write /sys/module/cpu_boost/parameters/input_boost_freq "0:1248000 4:768000"
   write /sys/module/cpu_boost/parameters/input_boost_ms 60
   write /sys/module/cpu_boost/parameters/boost_ms 0

   # Core control disabled, msm_thermal enabled
   write /sys/module/msm_thermal/core_control/enabled 0
   write /sys/module/msm_thermal/parameters/enabled Y

   # Backlight dimmer
   write /sys/module/mdss_fb/parameters/backlight_dimmer 1

   # Tune Adrenoboost
   write /sys/devices/soc.0/fdb00000.qcom,kgsl-3d0/devfreq/fdb00000.qcom,kgsl-3d0/adrenoboost 1

   # Sound settings
   write /sys/kernel/sound_control/speaker_gain "30 30"
   write /sys/kernel/sound_control/headphone_pa_gain "1 1"
   write /sys/kernel/sound_control/mic_gain 10
   write /sys/kernel/sound_control/headphone_gain "8 8"

   # zswap
   write /sys/module/zswap/parameters/enabled Y

   # UKSM config
   write /sys/kernel/mm/uksm/run 1

   # Adaptive LMK
   write /sys/module/lowmemorykiller/parameters/enable_adaptive_lmk 1

   # Vibration strength
   write /sys/class/timed_output/vibrator/vmax_mv_strong 2000
   write /sys/class/timed_output/vibrator/vmax_mv_light 1650

   # Wakelock dividers
   write /sys/module/bcmdhd/parameters/wlrx_divide 8
   write /sys/module/bcmdhd/parameters/wlctrl_divide 8

   # re-enable retention idle state
   # fix-up is merged in the Kernel
   write /sys/module/lpm_levels/system/a53/cpu0/retention/idle_enabled 1
   write /sys/module/lpm_levels/system/a53/cpu1/retention/idle_enabled 1
   write /sys/module/lpm_levels/system/a53/cpu2/retention/idle_enabled 1
   write /sys/module/lpm_levels/system/a53/cpu3/retention/idle_enabled 1
   write /sys/module/lpm_levels/system/a57/cpu4/retention/idle_enabled 1
   write /sys/module/lpm_levels/system/a57/cpu5/retention/idle_enabled 1
   write /sys/module/lpm_levels/system/a53/a53-l2-retention/idle_enabled 1
   write /sys/module/lpm_levels/system/a57/a57-l2-retention/idle_enabled 1

   # Enable Laptop Mode
   write /proc/sys/vm/laptop_mode 1

   # Process reclaim
   write /proc/PID/reclaim all

   # bcmdhd wakeup sources
   write /sys/module/wakeup/parameters/enable_wlan_rx_wake_ws 0
   write /sys/module/wakeup/parameters/enable_wlan_ctrl_wake_ws 0
   write /sys/module/wakeup/parameters/enable_wlan_wake_ws 0

   # Special power script
   exec u:r:init:s0 root root -- /init.special_power.sh
